.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

body{
    background: black;
}

/* FONT STYLES */
#nav-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.nav-button{
    color: White;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    width: 5.75rem;
    height: 2.735rem;
    border-radius: 2.785rem;

}
li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: white;
    margin-left: 2.9375rem;
    
}

/* Flexing of navbar  and nav items */
#navbar{
    max-width: 66.25rem;
    display: flex;
    justify-content: space-between;
    margin-left: 11.875rem;
    margin-right: 11.875rem;
    margin: 0 auto;

}
#nav-button-links{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.0635rem rgba(255, 255, 255, 0.2);
    padding: 0;
    border-radius: 2.4375rem;
    height: 2.875rem;
    margin-top: 26px;
    
}
/* Navbar comppleted */

/* Main starts */

#Get-body-title{
    color: white;
    font-weight: 800;
    font-size: 4.875rem;
}
#Get-body-content{
    max-width: 575px;
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
}
#btn-1{
    width: 250px;
}
#btn-2{
    width: 250px;
    background-color: black;
    border: 1px solid white;
}
.get-btn-1{
    background-color:  rgba(48, 48, 48, 0.54); width: 200px;height: 80px; display: flex; align-items: center; border-radius: 12px; 
    margin-top: -150px;
}
#get-btn-2{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: -400px;
}
#two-buttons{
    display: flex;
    gap: 5px;
}
#Get-body-section{
    display: flex;
    justify-content: space-between;
    margin-left: 11.875rem;
    margin-right: 11.875rem;
    background: linear-gradient(90deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.1) 100%);
}
.titles{
    font-weight: 900;
    font-size: 3rem;
    color: white;
}
#habit-title-description{
    text-align: center;
    width: 670px;
    margin: 0 auto;
    
}
.i{
    border-radius: 50%;

}
.t{
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    
    
}
#four-round-photos{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
/* extra miles */
#rem-description{
    width: 450px;
}
#rem-button{
    width: 220px;
}
#rem-image{
    width: 360px;
    height: 280px;
    display: flex;
    align-items: center;
}
#ri{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
#run-extra-mile{
    width: 1060px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 30px 32px 29px 54px;
    justify-self: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#bmi-title-description{
    width: 670px;
    height: 120px;
    display: flex;
    margin: 0 auto;
}
#chart-title{
    color: white;
    font-size: 1.75rem;
}
#bmi-chart{
    margin-top: 50px;
    margin-left: 100px;
}

table{
    border-collapse: collapse;
    width: 300px;
    height: 216px;
}

td,th{
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding-left: 15px;
}
.inp{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
width: 282.5px;
height: 48px;
}
select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 282.5px;
    height: 48px;
    width: 579px;
    margin-top: 10px;
    
}
::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
#inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 570px;
    gap: 10px;
}
#bmi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-self: center; */
    margin-top: 90px;
    
    /* background: rgb(34, 34, 34); */
}
#calculator{
    margin-right: 100px;
    
}
#team-description{
   text-align: center;
}
.img-6{
    width: 330px;
    height: 280px;
    border-radius: 18px;
}
#six-images{
    width: 1060px;
    height: 610px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
}





@media screen and (max-width:576px) {
    #Get-body-section{
        width: 490px;
        
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    #nav-button-links{
        visibility: hidden;
        
    }
    
    
    #Get-body-buttons{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    #Get-body-photo{
        margin-left: 60px;
    }
    .get-btn-1{
        margin-top: -200px;
    }
    #get-btn-2{
        margin-top: -500px;
        margin-right: -70px;
    }
    #four-round-photos{
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    #habit-title-description{
        width: 500px;
    }
    #run-extra-mile{
        width: 400px;
        flex-direction: column;
        
        margin: 0 auto;
    }
    #bmi{
        flex-direction: column;
    }
    #bmi-calculator section{
       
        margin: 0 auto;
    }
    #bmi-title-description{
        width: 500px;
    }
    #calculator{
        margin: 0 auto;
        
    }
    .img-6{
        width: 480px;
        height: 450px;
    }
    #six-images{
        width: 500px;
        height: 2600px;
       display: flex;
       flex-direction: column;
       gap: 20px;
    }
    #our-team-section{
        margin-left: 25px;
    }
    
    
}